.transactions-container {
    padding: 20px;
    text-align: center;
}

.filter-section {
    margin-bottom: 20px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

.transactions-table th, .transactions-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.stock-in {
    background-color: lightgreen;
}

.stock-out {
    background-color: lightcoral;
}